body {
    font-family: sans-serif;
    background-color: darkolivegreen;
    text-align: center;
}
table, .configurador, #tempo {
    width: 50%;
    margin: auto;
    border: 2px solid black;
    border-collapse: collapse;
}
table td {
    border: 2px solid black;
    height: 166px;
    width: 166px;
    text-align: center;
    font-size: 96px;
}
input, button {
    font-size: 20px;
}
button{
    cursor: pointer;
}

#tempo {
    font-size: 60px;
}
.configurador, #tempo {
    text-align: center;
    border: none;
    margin-bottom: 10px;
    font-size: 25px;
}
.configurador input {
    padding: 10px;
}
.configurador span {
    background-color: lightblue;
    padding: 9px 15px 11.5px 15px;
    vertical-align: baseline;
    border: 1px solid blue;
}
.configurador button {
    padding: 7px 15px;
    background-color: lightblue;
    border: 1px solid blue;
}
.msg {
    width: 57rem;
    padding: 10px;
    background-color: #FAFAFA;
    margin-bottom: 20px;
    height: 40px;
    border: 2px solid lightblue;
    color: blue;
    
}